{% extends 'base.html' %}

{% block content %}
	<h2>DETAIL</h2>
	<hr>
	<h3>{{ article.pk }}번글</h3>
	<p>제목: {{ article.title }}</p>
	<p>내용: {{ article.content }}</p>
	<p>생성 시각: {{ article.created_at }}</p>
	<p>수정 시각: {{ article.updated_at }}</p>
	<a href="{% url 'articles:index' %}">BACK</a>

	<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
		{% csrf_token %}
		{{ comment_form.as_p }}
		<button>댓글작성</button>
	</form>

	<h3>댓글 목록</h3>
	<h3>{{ article.title }}</h3>
	{% for comment in article.comment_set.all %}
		<p>{{ comment.content }}</p>
		<a href="{% url 'articles:comment_delete' article.pk comment.pk %}">댓글삭제</a>
	{% empty %}
		<p>댓글이 없습니다.</p>
	{% endfor %}

{% endblock %}