<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>{{ user.username }}님 환영합니다!</h1>
        <a href='{% url 'accounts:logout' %}'><button class='btn btn-dark'>LOGOUT</button></a>
    {% else %}
        <a href='{% url 'accounts:signup' %}'><button class='btn btn-dark'>JOIN NOW</button></a>
        <a href='{% url 'accounts:login' %}'><button class='btn btn-dark'>LOGIN</button></a>
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>