<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Either</title>
    {% bootstrap_css %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between sticky-top">
      <a class="navbar-brand" href="{% url 'polls:index' %}">Either_Poll</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'polls:poll_create' %}">NEW POLL</a>
          <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          <a class="nav-item nav-link" href="{% url 'accounts:login' %}">로그인</a>
        </div>
      </div>
    </nav>
	<div class="container my-3">
	    {% block content %}
	    {% endblock %}
	</div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>