<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css.map' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between sticky-top">
      <a class="navbar-brand" href="{% url 'community:index' %}">Django_pjt3</a>
      {% if user.is_authenticated %}
          <span class='text-light'>☆{{ request.user.username }}☆님 환영합니다!</span>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'community:review_create' %}">새글쓰기</a>
          <a class="nav-item nav-link" href="{% url 'community:index' %}">리뷰목록</a>
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'accounts:detail' request.user.pk %}">회원정보</a>
          <form action="{% url 'accounts:logout' %}" method="POST">
              {% csrf_token %}
              <button class='btn btn-warning'>로그아웃</button>
          </form>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          <a class="nav-item nav-link" href="{% url 'accounts:login' %}">로그인</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container my-3">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js.map' %}"></script>
</body>
</html>