{% extends 'base.html' %}

{% block content %}

<div class= 'row '>
    {% for article in articles %}
    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/200/300?random={{ article.0 }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ article.0 }}</h5>
        <p class="card-text">{{ article.1 }}</p>
        <a href="/community/" class="btn btn-primary">Go community</a>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}