{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {% if request.resolver_match.url_name == 'create' %}
        <h3>새 품목 추가하기</h3>
    {% else %}
        <h3>품목 수정하기</h3>
     {% endif %}
        <div>
            <form action="" method="POST" id="my-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
            </form>
            <a href="{% url 'products:detail' store.id %}"><button class="btn btn-secondary">BACK</button></a>
            <button class="btn btn-primary" form="my-form">SUBMIT</button>
        </div>

{% endblock %}