body{
    margin = 0
}

nav{
    padding: 1rem;
}

.logo{
    font-family: Georgia;
    text-decoration: none;
    color: black;
}

.items{
    float: right;
    margin : 0;

}

.item{
    display: inline;
    list-style: none;
}

.bgi{
    background-image: url("images/bicycles.jpg");
    height:500px;
}

.con{
    text-align: center;
}

.con>img{
    width: 500px;
}